<table class="table">
  <thead>
    <tr>
      <th style="width:20%">Problem ID</th>
      <th>Problem Name</th>
      <th>Pass Rate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in problem %}
      <tr>
        <td>
          {% if user == p.owner or user.is_admin %}
            <span id='rejudge' class='glyphicon glyphicon-refresh'
                  data-toggle="tooltip" data-placement="left" title="Rejudge"></span>
          {% endif %}
          &nbsp;{{p.pk}}
        </td>

        <td><a href="{% url 'problem:problem.views.detail' p.pk %}">{{p.pname}}</a>&nbsp;
          {% if user == p.owner or user.is_admin %}
            <a href="{% url 'problem:problem.views.edit' p.pk %}">
              <span id='edit' class='glyphicon glyphicon-pencil'
              data-toggle="tooltip" data-placement="right" title="Edit"></span>
            </a>
          {% endif %}
        </td>
        <td>
          {% if p.no_submission %}
            No submission
          {% else %}
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: {{p.pass_rate}}%;"
                data-toggle="tooltip" data-placement="top" title="{{p.pass_rate|floatformat:2}}%">
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {{p.not_pass_rate}}%;"
                data-toggle="tooltip" data-placement="top" title="{{p.not_pass_rate|floatformat:2}}%">
              </div>
            </div>
          {% endif %}
        </td>
        <td>
          {% if user == p.owner or user.is_admin %}
            <a data-target="{{p.pk}}" class="btn btn-primary"
              href="{% url 'problem:delete_problem' p.pk %}">Delete</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>
$(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('.progress').css('overflow', 'inherit');
});
</script>

<ul class="pager">
  <span class="step-links">
    {% if problem.has_previous %}
      <li>
        <a href="?page={{ problem.previous_page_number }}">← Previous</a>
      </li>
     {% endif %}

    <span class="current">
      Page {{ problem.number }} of {{ problem.paginator.num_pages }}.
    </span>

    {% if problem.has_next %}
      <li>
        <a href="?page={{ problem.next_page_number }}">Next →</a>
      </li>
    {% endif %}
  </span>
</ul>

