{% load staticfiles %}
<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Problem</th>
        <th>Pass Rate</th>
        <th>Owner</th>
      </tr>
    </thead>
  <tbody>
    {% for p in problem %}
      {% if not p.in_contest %}
      <tr>
        <td>
          {% if user == p.owner or user.has_admin_auth %}
	    <a class="btn btn-info btn-xs rejudge-btn"  href="{% url 'problem:rejudge' %}?pid={{ p.pk }}"
		    data-toggle="tooltip" data-pacement="top" title="Rejudge Problem"
		    data-submission="{{ p.total_submission }}">
              <span id='rejudge' class='glyphicon glyphicon-refresh'></span>
            </a>
            <a class="del-btn" href="{% url 'problem:delete_problem' p.pk %}">
              <button type="button" class="btn btn-danger btn-xs" data-toggle="tooltip"
                    data-placement="top" title="Delete Problem">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
            <a href="{% url 'problem:edit' p.pk %}">
              <button type="button" class="btn btn-warning btn-xs" data-toggle="tooltip"
                    data-placement="top" title="Edit Problem">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </a>
          {% endif%}
        </td>
        <td>{{ p.pk }}</td>
        <td><a href="{% url 'problem:problem.views.detail' p.pk %}">{{p.pname}}</a></td>
        <td>
          {% if p.no_submission %}
            No submission
          {% else %}
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: {{p.pass_rate}}%;"
                data-toggle="tooltip" data-placement="top" title="{{p.pass_rate|floatformat:2}}%">
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {{p.not_pass_rate}}%;"
                data-toggle="tooltip" data-placement="top" title="{{p.not_pass_rate|floatformat:2}}%">
              </div>
            </div>
          {% endif %}
        </td>
        <td>{{ p.owner }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<script src="{% static 'problem/js/panel.js' %}"></script>

{% include "utils/pager.html" with objects=problem %}
