<br>
<strong>Current Tags</strong>
<button id='merge_tag' class='btn btn-default'>merge tags</button>
<table>
  <tbody id="tagTable">
  </tbody>
</table>
<br>
<br>
<table>
  <tr>
    <th>Add Tag</th>
    <td>
      <div class='input-group'>
        <input type='text' id='newTag' class='form-control' width='25%'>
        <span class='input-group-btn'>
                    <button id='add_tag_button' class='btn btn-default'>Add</button>
                </span>
      </div>
    </td>
  </tr>
</table>
