{% extends "index/base.html" %}
{% load status_filters %}

{% block body_block %}

<div class="container-fluid">
  <h1>Status</h1>
  {% include "status/statusTable.html" %}
  <ul class="pager">
    <span class="step-links">
      {% if submissions.has_previous %}
        <li>
          <a href="?{% url_replace request 'page' submissions.previous_page_number %}">← Previous</a>
        </li>
      {% endif %}

      <span class="current">
        Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
      </span>

      {% if submissions.has_next %}
        <li>
          <a href="?{% url_replace request 'page' submissions.next_page_number %}">Next →</a>
        </li>
      {% endif %}
    </span>
  </ul>
</div>
{% endblock body_block %}
