{% extends "index/base.html" %}
{% load static %}
{% block title_name %}
<title>Edit for Group...</title>
{% endblock title_name %}
{% load bootstrap %}
{% block import_source %}
<script src="{% static 'multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
<script src="{% static 'quicksearch/jquery.quicksearch.js' %}" type="text/javascript"></script>
<script src="{% static 'group/js/search.js' %}" type="text/javascript"></script>
<script src="{% static 'group/js/editGroup.js' %}" type="text/javascript"></script>
<link href="{% static 'multiselect/css/multi-select.css'%}" media="screen" rel="stylesheet" type="text/css">
{% endblock import_source %} 
{% block body_block %}
<br>
<br>
<div class="col-lg-offset-1 col-lg-10">
  {% if not group.id %}
    <h4>new:</h4>
  {% else %}
    <h4>edit:</h4>
    <h2>#{{ group.id }} - {{ group.gname }}</h2>
  {% endif %}
  <div class="well">
    <br>
    <br>
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% if not group.id %}
        <h4>Hey! You Are Now Setting for New Group ...</h4>
      {% else %}
        <h4>Hey! You Are Now Setting for Group #{{ group.id }}...</h4>
      {% endif %}
      <p style="color:white">Any change you made will be saved to group</p>
    </div>
    <form action="." method="POST">
      {% csrf_token %}
      {% for field in form %}
        {% if field.label_tag == form.owner.label_tag %}
          {{ field.as_hidden }}
        {% elif field.label_tag == form.coowner.label_tag and user_is_coowner %}
            {{ field.as_hidden }}
        {% elif field.label_tag == form.member.label_tag %}
          {{ field.as_hidden }}
        {% else %}
          {{ field|bootstrap }}
        {% endif %}
      {% endfor %}
      <br>
      <input class="btn btn-sm btn-primary" type="submit" style="float:right" value="Comfirm">
      <br>
    </form>
  </div>
</div>
<br>
{% endblock body_block %}
