{% extends "index/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title_name %}
<title>{{ group.gname }}</title>
{% endblock title_name %}
{% block import_source %}
<script src="{%static 'group/js/editAnnounce.js'%}"></script>
{% endblock import_source %}
{% block body_block %}
<br>
<div class="container" id="body">
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="span12">
        <h2>{{ group.id }} - {{ group.gname }}
          {% if user_has_auth %}
          <a href="{% url 'group:edit' group.id %}">
            <button type="button" class="btn btn-warning btn-xs" 
                    data-toggle="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </a>
          {% endif %}
        </h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="Description" style="word-break:break-all">
      <p style="font-size:16px; color:gray">
        {{ group.description|linebreaks }}
      </p>
    </div>
  </div>
  <hr>
  <div class="col-lg-offset-0 col-lg-12">
    <div class="contest">
      <div style="margin-bottom:15px">
        <h3 style="color:gray">Traced Contest</h3>
      </div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" 
                 href="#runningContestPanel">Running Contest</a>
            </h4>
          </div>
          <div id="runningContestPanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for running_contest in running_contest_list %}
                    <tr>
                      <td>{{ running_contest.id }}</td>
                      <td>
                        <a href="{% url 'contest:contest' running_contest.id %}">
                          {{ running_contest.cname }}
                        </a>
                      </td>
                      <td>{{ running_contest.start_time|date:"Y/m/d H:i:s" }}</td>
                      <td>{{ running_contest.end_time|date:"Y/m/d H:i:s" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a class="btn btn-sm btn-default" style="float:right"
                 onclick="window.open('{% url 'group:viewall_contest' group.id %}', '', config='height=500,width=800');">view all</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" 
                 href="#endedContestPanel">Ended Contest</a>
            </h4>
          </div>
          <div id="endedContestPanel" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ended_contest in ended_contest_list %}
                    <tr>
                      <td>{{ ended_contest.id }}</td>
                      <td>
                        <a href="{% url 'contest:contest' ended_contest.id %}">
                          {{ ended_contest.cname }}
                        </a>
                      </td>
                      <td>{{ ended_contest.start_time|date:"Y/m/d H:i:s" }}</td>
                      <td>{{ ended_contest.end_time|date:"Y/m/d H:i:s" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a class="btn btn-sm btn-default" style="float:right"
                 onclick="window.open('{% url 'group:viewall_archive' group.id %}', '', config='height=500,width=800');">view all</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="announce">
      <div style="margin-bottom:15px">
        <h3 style="color:gray">Announce</h3>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>
              {% if user_has_auth %}
                <button type="button" class="btn btn-primary btn-sm" 
                        data-toggle="modal" style="float:right" 
                        data-target="#addAnnounce">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                {% include "group/addAnnounce.html" with group=group %}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for announce in announce_list %}
          <tr>
            <td id="title{{announce.id}}">
              {% if not announce.title %}
              <a href="" data-toggle="modal"
                 data-target="#announceContentModal{{announce.id}}">
                 No title
              </a>
              {% else %}
              <a href="" data-toggle="modal"
                 data-target="#announceContentModal{{announce.id}}">
                 {{ announce.title|truncatechars:20 }}
              </a>
              {% endif %}
              <!--Modal Section-->
              <div class="modal fade" id="announceContentModal{{announce.id}}"
                 role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="btn-default" class="close" 
                              data-dismiss="modal"
                              aria-hidden="true">&times;</button>
                      {% if not announce.title %}
                      <h3 class="modal-title" id="modal-title">
                         No title
                      </h3>
                      {% else %}
                      <h3 class="modal-title" id="modal-title" title="{{ announce.title}}">
                        {{ announce.title|truncatechars:25 }}
                      </h3>
                      {% endif %}
                    </div> 
                    <div class="modal-body" style="word-break:break-all">
                      <p id="modal-content">
                        {{ announce.content|linebreaks }}
                      </p>
                    </div>
                    <div class="modal-footer">
                      <div class="col-lg-offset-10 col-lg-1">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Modal Section End-->
            </td>
            <td>
              {% if user_has_auth %}
              <div style="float:right">
                <a href="{% url 'group:edit_announce' announce.id group.id redirect_page %}">
                  <button type="button" class="btn btn-warning btn-sm" 
                          data-toggle="modal">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </a>
                <a href="{% url 'group:delete_announce' announce.id group.id redirect_page %}">
                  <button type="button" class="btn btn-danger btn-sm" 
                          onclick="return confirm_delete()">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </a>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-sm btn-default" style="float:right"
         onclick="window.open('{% url 'group:viewall_announce' group.id %}', '', config='height=500,width=800');">view all</a>
      <br>
    </div>
    <hr>
    <div class="member">
      <div style="margin-bottom:15px">
        <h3 style="color:gray">Members</h3>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <div>
              <th>Name</th>
              <th></th>
            </div>
          </tr>
        </thead>
        <tbody>
          {% for student in student_list %}
          <tr>
            <div>
              <td>{{ student.username }}</td>
              <td>
                {% if user_has_auth %}
                  <a href=".">
                    <button type="button" class="btn btn-danger btn-xs" style="float:right">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </a>
                {% endif %}
              </td>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
    <div class="container-fluid">
      <nav>
        {% include "utils/pager.html" with objects=student_list %}
      </nav>
    </div>
  </div>
</div>
{% endblock body_block %}
