{% extends "index/base.html" %}
{% load static %} 
{% block title_name %}
<title>Group List</title>
{% endblock title_name %}
{% block import_source %}
<script src="{%static 'group/js/editAnnounce.js'%}"></script>
{% endblock import_source %}
{% load group_extras %}
{% block body_block %}
<br>
<div class="container" id="list">
  <div class="well">
    <h2>Group List</h2>
  </div>
  {% if user.is_authenticated %}
  <div class="btn-group" style="float:right">
    <a href="{% url 'group:my_list' %}"> 
      <button id="myGroupButton" type="button" 
              class="btn btn-primary {% if include_flag = 'my_group' %} active {% endif %}">
        My Group
      </button>
    </a>
    <a href="{% url 'group:list' %}">
      <button id="allGroupButton" type="button" 
              class="btn btn-primary {% if include_flag = 'all_group' %} active {% endif %}">
        All Group
      </button>
    </a>
  </div>
  {% endif %}
  <br>
  <br>
  {% if include_flag = 'my_group' %}
    <div id="myGroupTable">
      {% include "group/groupTable.html" with group_list=my_group_list %}
    </div>
  {% endif %}
  {% if include_flag = 'all_group' %}
  <div id="allGroupTable">
    {% include "group/groupTable.html" with group_list=all_group_list %}
  </div>
  {% endif %}
</div>
{% endblock body_block %}
