{% extends "index/base.html" %}
{% load static %}
{% block title_name %}
<title>All {{ title }}</title>
{% endblock title_name %}
{% block import_source %}
<script src="{%static 'group/js/editAnnounce.js'%}"></script>
{% endblock import_source %}
{% block body_block %}
<br>
<div class="span12">
  <div class="hero-unit">
    <span>
      <h3 style="margin-left:15px">All {{ title }}</h3>
    </span>
  </div>
</div>
<div class="modal-body">
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        {% if not list_type == "announce" %}
        <th>ID</th>
        {% endif %}
        <th>title</th>
        {% if not list_type == "announce" %}
        <th>start time</th>
        <th>end time</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for archive in data_list %}
      <tr>
        {% if not list_type == "announce" %}
        <td>{{ archive.id }}</td>
        <td>
          <a href="{% url 'contest:contest' archive.id %}">
            {{ archive.cname }}
          </a>
        </td>
        <td>{{ archive.start_time|date:"Y/m/d H:i:s" }}</td>
        <td>{{ archive.end_time|date:"Y/m/d H:i:s" }}</td>
        {% else %}
        <td>
          <a href="" data-toggle="modal"
             data-target="#announceContentModal{{archive.id}}">
            {{ archive.title }}
          </a>
          <!--Modal Section-->
          <div class="modal fade" id="announceContentModal{{archive.id}}"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="btn-default" class="close" 
                          data-dismiss="modal"
                          aria-hidden="true">&times;</button>
                  {% if not archive.title %}
                  <h3 class="modal-title" id="modal-title">
                     No title
                  </h3>
                  {% else %}
                  <h3 class="modal-title" id="modal-title" title="{{ archive.title}}">
                    {{ archive.title|truncatechars:25 }}
                  </h3>
                  {% endif %}
                </div> 
                <div class="modal-body" style="word-break:break-all">
                  <p id="modal-content">
                    {{ archive.content|linebreaks }}
                  </p>
                </div>
                <div class="modal-footer">
                  <div class="col-lg-offset-10 col-lg-1">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Modal Section End-->
        </td>
        <td>
          {% if user_has_auth %}
          <div style="float:right">
            <a href="{% url 'group:edit_announce' archive.id group.id redirect_page %}">
              <button type="button" class="btn btn-warning btn-sm" 
                      data-toggle="modal">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </a>
            <a href="{% url 'group:delete_announce' archive.id group.id redirect_page %}">
              <button type="button" class="btn btn-danger btn-sm" 
                      onclick="return confirm_delete()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </div>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    {% include "utils/pager.html" with objects=data_list %}
  </nav>
</div>
{% endblock body_block %}
