{% extends "index/base.html" %}
{% load static %}

{% block body_block %}
<div class="container">
  <h1>{{ title }}</h1>
  <form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <div class='row'>
        <div class='col-md-3'>
          <label class="control-label">{{ field.label }}</label>
        </div>
        <div class='col-md-8'>
          {{ field }}
        </div>
      </div>
      {% if form.non_field_errors %}
      <ol>
        {% for error in form.non_field_errors %}
          <li class='col-md-offset-3'><strong style="color:red">{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
      {% endif %} 
      {% if field.errors %}
      <ol>
        {% for error in field.errors %}
          <li class='col-md-offset-3'><strong style="color:red">{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
      {% endif %}
    </div>
    {% endfor %}
    <div class="modal-footer row">
      <div id='msg' class='col-md-4'>{{ message }}</div>
      <div class='col-md-4 col-md-offset-4'>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <hr>
    <div class="poptxt_login">
      Don't have an account? You can 
      <a href={% url "user_create" %}>
        <p class="p6">register here</p>
      </a>
    </div>
  </form>
</div>
{% endblock body_block %}
