{%load static%}
<!-- code mirror related -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/theme/solarized.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/javascript/javascript.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/addon/selection/active-line.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/addon/edit/matchbrackets.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/clike/clike.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/addon/selection/active-line.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/addon/edit/matchbrackets.js"></script>

<script src={% static "js/editorsettings.js" %}></script>
<!-- file input -->
<script src={% static "js/fileinput.js"%}></script>

<!-- textarea -->
<form class="form-horizontal" style="width:80%;margin:0 auto;">
    <div class="form-group" style="margin:50px;">

        <div class="col-lg-2">
            <label class="col-lg-42control-label">PID:</label>
            <input type="text" class="form-control input-sm col-lg-2 " placeholder="id" id='pid'>
        </div>

        <label class="col-lg-2 control-label">Language:</label>
        <div class="col-lg-4">
            <div class="radio">
                <label id='cpp' data-toggle="tooltip" data-placement="right" title="-O2  -lm  -std=c++11">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">C++
                </label>
            </div>
            <div class="radio">
                <label id='c' data-toggle="tooltip" data-placement="right" title="-O2  -lm  -std=c99">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">C
                </label>
            </div>
        </div>
    </div>

    <textarea id="code_editor" name="code"></textarea>
    <br>
    <div class="form-group">
        <div style='float:left;margin-left:30px;'>
            <input type="file" data-filename-placement="inside" id="fileinput">
        </div>
        <div style='float:right;margin-right:30px;'>
            <input type='button' class="btn btn-danger" value='Pre Test'>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
