<!-- This is a markdown generated html -->
<style>
code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px
}
table,
td,
th {
  border: 2px solid !important;
  border-color: gray !important;
  padding: 10px;
}
</style>

<div class="container-fluid">
  <center><h4 id="we-support-sublime-key-bindings-">We support Sublime key bindings!</h4></center>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align:left">Key</th>
        <th style="text-align:left">Function</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:left"><code>Alt</code>+<code>Left</code>
        </td>
        <td style="text-align:left">Go Subword Left</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Alt</code>+<code>Right</code>
        </td>
        <td style="text-align:left">Go Subword Right</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>Up</code>
        </td>
        <td style="text-align:left">Scroll Line Up</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>Down</code>
        </td>
        <td style="text-align:left">Scroll Line Down</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>L</code>
        </td>
        <td style="text-align:left">Split Selection By Line</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Tab</code>
        </td>
        <td style="text-align:left">Indent Less</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Esc</code>
        </td>
        <td style="text-align:left">Single Selection Top</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>L</code>
        </td>
        <td style="text-align:left">Select Line</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>K</code>
        </td>
        <td style="text-align:left">Delete Line</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>Enter</code>
        </td>
        <td style="text-align:left">Insert Line After</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>Enter</code>
        </td>
        <td style="text-align:left">Insert Line Before</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>D</code>
        </td>
        <td style="text-align:left">Select Next Occurrence</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>M</code>
        </td>
        <td style="text-align:left">Select Between Brackets</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>M</code>
        </td>
        <td style="text-align:left">Go To Bracket</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>J</code>
        </td>
        <td style="text-align:left">Join Lines</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>D</code>
        </td>
        <td style="text-align:left">Duplicate Line</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>F9</code>
        </td>
        <td style="text-align:left">Sort Lines</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>F9</code>
        </td>
        <td style="text-align:left">Sort Lines Insensitive</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl+K</code> <code>Ctrl+Backspace</code>
        </td>
        <td style="text-align:left">Delete Line Left</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Backspace</code>
        </td>
        <td style="text-align:left">Smart Backspace</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl+K</code>+<code>Ctrl+K</code>
        </td>
        <td style="text-align:left">Delete Line Right</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl+K</code>+<code>Ctrl+U</code>
        </td>
        <td style="text-align:left">Upcase At Cursor</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl+K</code>+<code>Ctrl+L</code>
        </td>
        <td style="text-align:left">Downcase At Cursor</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl+K</code>+<code>Ctrl+C</code>
        </td>
        <td style="text-align:left">Show In Center</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Alt</code>+<code>Up</code>
        </td>
        <td style="text-align:left">Select Lines Upward</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Alt</code>+<code>Down</code>
        </td>
        <td style="text-align:left">Select Lines Downward</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>F3</code>
        </td>
        <td style="text-align:left">Find Under</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Shift</code>+<code>Ctrl</code>+<code>F3</code>
        </td>
        <td style="text-align:left">Find Under Previous</td>
      </tr>
      <tr>
        <td style="text-align:left"><code>Ctrl</code>+<code>H</code>
        </td>
        <td style="text-align:left">Replace</td>
      </tr>
    </tbody>
  </table>
  <h6 id="for-mac-use-cmd-instead-of-ctrl-">For Mac, use <code>Cmd</code> instead of <code>Ctrl</code></h6>
</div>
