{% extends "index/base.html" %}
{% load static %}
{% load bootstrap %}
{% load profile_filters %}
{% block title_name %}
<title>Profile</title>
{% endblock title_name %}
{% block import_source %}
<script src={% static "Chart.js/Chart.js" %}></script>
<script src={% static "js/profile.js"%}></script>
<script type="text/javascript">
$(function() {
  plot_piechart({{ piechart_data|safe }});
});
</script>
{% endblock import_source %}
{% block body_block %}
<br>

<style type="text/css">
  #piechart {
    width: 100% !important;
    height: auto !important;
  }
  .pie-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
  }
  .pie-legend {
    list-style: none;
    font-size: 14px;
  }
</style>

<div class="container">
  <div class="well">
    <h2><b>{{ profile_user }}</b>'s Profile</h2>
  </div>
  <div class="row">
    <div class="col-lg-7">
      {% block statistic_block %}
      <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-lg-2 col-lg-offset-1 control-label">Piechart</label>
            <div id="statistics" class="row">
              <div class="col-lg-9">
                <canvas id="piechart"><canvas>
              </div>
              <div id="piechart-legend" class="col-lg-3"></div>
            </div>
          </div>
        </div>
      </div>
      {% endblock statistic_block %}
    </div>
    <div class="col-lg-5">
      {% block profile_field_block %}
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
          <form class="form-horizontal" action="" method="post" style="margin:10px;">
            {% if profile_form %}
              {% csrf_token %}
              {{ profile_form|bootstrap_horizontal:'col-lg-4' }}
              <div class="modal-footer">
                <button type="submit" name="profile_form"
                  class="btn btn-primary">Submit</button>
              </div>
            {% else %}
              <div class="form-group">
                <label class="control-label col-lg-4">Username</label>
                <div class="col-lg-8">
                  <input class="form-control" readonly="True" type="text"
                    id="id_username" value="{{ profile_user.username }}">
                </div>
              </div>
              {% if user|reveal_private_info:profile_user %}
                <div class="form-group">
                  <label class="control-label col-lg-4">Email</label>
                  <div class="col-lg-8">
                    <input class="form-control" readonly="True" type="email"
                    value="{{ profile_user.email }}">
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </form>
          <form class="form-horizontal" action="" method="post" style="margin:10px;"
                onsubmit="return confirm_change_userlevel()">
            {% if user|can_change_userlevel:profile_user %}
              {% csrf_token %}
              {{ userlevel_form|bootstrap_horizontal:'col-lg-4' }}
              <div class="modal-footer">
                <button type="submit" name="userlevel_form"
                  class="btn btn-primary">Submit</button>
              </div>
            {% elif user|reveal_private_info:profile_user %}
              <div class="form-group">
                <label class="control-label col-lg-4">User Level</label>
                <div class="col-lg-8">
                  <input class="form-control" readonly="True"
                  value="{{ profile_user.get_user_level_display }}">
                </div>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
      {% endblock profile_field_block %}
    </div>
  </div>
</div>

{% endblock body_block %}
