{% extends "index/base.html" %}
{% load static %}

{% block title_name %}
<title>User List</title>
{% endblock title_name %}

{% block import_source %}
<link rel="stylesheet" href={% static "./css/userList.css"%} media="screen">
{% endblock import_source %}
{% block body_block %}
  <div class="container" id="list">
    <br>
    <!--title-->
    <div class="well">
      <h2>User List</h2>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>User Name</th>
          <th style="text-align: center;">User Email</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td><a href={% url "users:profile" user.username %}>{{ user.username }}</a></td>
          <td style="text-align: center;">{{ user.email }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <ul class="pager">
    <span class="step-links">
      {% if users.has_previous %}
        <li>
          <a href="?page={{ users.previous_page_number }}"><span>&larr;</span> Previous</a>
        </li>
       {% endif %}
      <span class="current">
        Page {{ users.number }} of {{ users.paginator.num_pages }}.
      </span>
      {% if users.has_next %}
        <li>
          <a href="?page={{ users.next_page_number }}">Next <span>&rarr;</span></a>
        </li>
      {% endif %}
    </span>
  </ul>
{% endblock body_block %}
