<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
{% include 'autocomplete_light/static.html' %}
<script type="text/javascript">
// Change #yourInput by a selector that matches the input you want to use
// for the navigation autocomplete.
$('#yourInput').yourlabsAutocomplete({
    // Url of the view you just created
    url: '{% url "search" %}',

    // With keyboard, we should iterate around <a> tags in the autocomplete
    choiceSelector: 'a',
}).input.bind('selectChoice', function(e, choice, autocomplete) {
    // When a choice is selected, open it. Note: this is not needed for
    // mouse click on the links of course, but this is necessary for keyboard
    // selection.
    window.location.href = choice.attr('href');
});
</script>

<span class="separator">Users</span>
{% for user in users %}
<a class="block choice" href="{{ user.get_absolute_url }}">{{ user }}</a>
{% endfor %}

<span class="separator">Problem</span>
{% for problem in problems %}
<a class="block choice" href="{{ problem.get_absolute_url }}">{{ problem }}</a>
{% endfor %}
