{% if users %}
    <span class="separator">User</span>
    {% for user in users %}
    <a class="block choice" href="{{ user.get_absolute_url }}">{{ user }}</a>
    {% endfor %}
{% endif %}

{% if problems %}
    <span class="separator">Problem</span>
    {% for problem in problems %}
    <a class="block choice" href="{{ problem.get_absolute_url }}">{{ problem }}</a>
    {% endfor %}
{% endif %}

{% if contests %}
    <span class="separator">Contest</span>
    {% for contest in contests %}
    <a class="block choice" href="{{ contest.get_absolute_url }}">{{ contest }}</a>
    {% endfor %}
{% endif %}

{% if groups %}
    <span class="separator">Group</span>
    {% for group in groups %}
    <a class="block choice" href="{{ problem.get_absolute_url }}">{{ group }}</a>
    {% endfor %}
{% endif %}
