{% extends "index/base.html" %}
{% load staticfiles %}
{% load contest_extras %}
{% block title_name %}
{% load bootstrap %}
<title>{{ title }}</title>
{% endblock title_name %}

{% block import_source %}
<script src="{% static 'multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
<script src="{% static 'contest/js/editContest.js' %}" type="text/javascript"></script>
<script src="{% static 'quicksearch/jquery.quicksearch.js' %}" type="text/javascript"></script>
<script src="{% static 'contest/js/search.js' %}" type="text/javascript"></script>
<link href="{% static 'contest/css/editContest.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'multiselect/css/multi-select.css'%}" media="screen" rel="stylesheet" type="text/css">
{% endblock import_source %}

{% block body_block %}
<br>
<div class="container" id="list">
  <div class="well">
    <h2>
    {{ title }}
    {% if contest %}
    <a href="{% url 'contest:contest' contest.id %}">
      <button type="button" class="btn btn-primary">
        See this contest
      </button>
    </a>
    {% endif %}
    <a href="{% url 'contest:archive' %}">
      <button type="button" class="btn btn-info">
        Go to Contest Archive
      </button>
    </a>
    </h2>
  </div>
  <form action="." method="POST">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    {% if field.label_tag == form.owner.label_tag %}
      {{ field.as_hidden }}
    {% elif field.label_tag == form.coowner.label_tag %}
      {% if user|is_coowner:contest %}
      {{ field.as_hidden }}
      {% else %}
      {{ field|bootstrap }}
      {{ field.errors }}
      {% endif %}
    {% else %}
      {{ field|bootstrap }}
      {{ field.errors }}
    {% endif %}
    {% endfor %}
  <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
<script>
$(function () {
  $('input').removeAttr("readonly");
})
</script>
{% endblock body_block %}
