{% extends "index/base.html" %} 
{% load staticfiles %}
{% block title_name %}
{% load bootstrap %}
<title>{{ title }}</title>
{% endblock title_name %} {% block import_source %}
<script src="{% static 'multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
<script src="{% static 'contest/js/editContest.js' %}" type="text/javascript"></script>
<script src="{% static 'quicksearch/jquery.quicksearch.js' %}" type="text/javascript"></script>
<script src="{% static 'contest/js/search.js' %}" type="text/javascript"></script>
<link href="{% static 'contest/css/editContest.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'multiselect/css/multi-select.css'%}" media="screen" rel="stylesheet" type="text/css"> 
{{ form.media }}
{% endblock import_source %} {% block body_block %}
<div class="container" style="width:50%;">
  <div class="well">
    <h2>{{ title }}</h2></div>
    {% include "contest/message.html" %}
    <form action="." method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field|bootstrap }}
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock body_block %}
