{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'info' %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% elif message.tags == 'warning' %}
    <div class="alert alert-warning" role="alert">
      <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
      <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
      <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}