{% load contest_extras %} {% load staticfiles %} {% block import_source %}
<link href="{% static 'contest/css/overview.css' %}" rel="stylesheet">
{% endblock import_source %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Problem</th>
      <th>Pass Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for problem in scoreboard.problems %}
    <tr>
      <td>{{ problem.id }}</td>
      <td>
        <a href="#problem{{ problem.id }}" class="overview_problem"
           tabindex="-1" role="tab" data-toggle="tab">{{ problem.pname }}</a>
      </td>
      <td>
        <div class="progress" data-toggle="tooltip" data-placement="top" 
               title="{{problem.pass_rate|floatformat:2}}%">
          <div name="pass" class="progress-bar progress-bar-success"
               role="progressbar" style="width: {{ problem.pass_rate }}%;">
            <span name="pass_ratio">
              {{ problem.pass_user }}/{{ scoreboard|total_contestant }}
              </span>
          </div>
          <div name="not_pass" class="progress-bar progress-bar-danger"
               role="progressbar" style="width: {{ problem.not_pass_rate }}%;">
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% load staticfiles %}
